<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:href="@{../../css/main.css}" rel="stylesheet" />
</head>
<body style="height: 100%">
<div class="hat">
    <table>
        <tr>
            <td>
                <h1 class="head1">
                    Test
                </h1>
            </td>
        </tr>
    </table>
</div>
<hr>


<div class="menu">

    <h3>МЕНЮ</h3>
    <br>
    <hr>
    <a href="/house">НАЗАД</a>
    <br>
    <hr>
    <br>
    <br>
    <form method="post" action="/doLogout">
        <button type="submit" class="logbtn">Выйти</button>
    </form>
</div>

<div class="center">
    <form style="margin-top: 50px;margin-left: 50px;" method="post" th:action="@{/house/edit/{id}(id=${house.getId()})}"
          th:object="${house}" enctype="multipart/form-data">
        <div style="margin-bottom: 20px">
            <label for="house" class="anotherlabel">Наименование</label>
            <div class="col-sm-5">
                <input th:field="*{address}" type="text" name="title" id="house" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Cохранить" class="allbuttons">
            </div>
        </div>
    </form>
</div>
</body>
</html>